**/.DS_Store
***/.ipynb_checkpoints
**/.ipynb_checkpoints
**/.Rhistory
***/.Rhistory
***/__pycache__

***/*.gtf.gz
***/*.gtf
***/output.bus


sr_split_seq/kallisto/
sr_split_seq/igvf/

CLIMB/example/pre
